body {
    font-family: 'Abhaya Libre', serif;
}

.btn-primary {
    color: white;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: 0;
    padding: 15px 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 100px 240px 0 240px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    max-width: 700px;
}

.banner-heading {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-desc {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.banner img {
    width: 500px;
    margin-bottom: 0;
}

.featured-content {
    width: 600px;
    text-align: center;
    padding: 100px 240px;
    margin: 0 auto;
}

.section-title {
    margin: 5px;
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 594px;
    text-align: center;
}

.featured-info-container {
    display: flex;
    justify-content: space-around;
}

.featured-info {
    padding: 10px;
}

.featured-img-one {
    width: 300px;
    height: 400px;
    padding: 80px 50px 0 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-img-two {
    width: 300px;
    height: 400px;
    padding: 80px 50px 0 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-img-three {
    width: 300px;
    height: 400px;
    padding: 80px 50px 0 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-info>p {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
}

.hot-deal {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: rgba(229, 84, 115, 0.05);
    text-align: center;
    align-items: center;
}

.hot-deal-content span {
    color: #E55473;
}

.social-img {
    display: flex;
    justify-content: center;
}

.social-info {
    padding: 10px;
}

.social-info img {
    width: 300px;
}

.latest-deal {
    max-width: 780px;
    text-align: center;
    padding: 100px 240px;
    margin: 0 auto;
    background-image: url('../flower-asset/rectangle-9.png');
    background-repeat: no-repeat;
}

.latest-desc {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.email-input input {
    width: 500px;
    height: 30px;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    margin-right: 5px;
}

.email-input .btn-primary {
    font-size: 15px;
    padding: 15px 25px;
}

/* ---------------------------  */



.blog-content {
    margin-top: 50px;
    width: 600px;
    text-align: center;
    padding: 100px 240px;
    margin: 0 auto;
}

.blog-title {
    margin: 5px;
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.blog-info-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.blog-info {
    padding: 10px;
    background-color: #fff;
}

.blog-img {
    margin-bottom: 0;
    width: 200px;
    height: 300px;
    padding: 80px 50px 0 50px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.073);
}

.blog-info .btn-primary{
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 25px;
}
/* ------------------------------------  */

.footer {
    margin-top: 120px;
    width: 1140;
    height: 200px;
    background-color: #111010;
    text-align: center;
    padding: 50px;
}

.footer>.section-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
}

.footer span {
    color: #E55473;
}

.footer-desc {
    width: 600px;
    margin: 0 auto;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    font-weight: 400;
}

.footer-footer {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}